<div class="container">

  <table class="table table-striped">
      <thead>
          <tr>
              <th>S.No.</th>
              <th>Product Name</th>
              <th>Product Price</th>
              <th> Product Quantity</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users;let rowIndex=index">
              <td>{{rowIndex+1}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <span class="edit" [routerLink]="['/edit-user/', user._id]">
                <button type="button" class="btn btn-success btn-sm">Edit</button>
              </span>
              <span class="delete" (click)="removeUser(user, rowIndex)">
                <button type="button" class="btn btn-danger btn-sm">Delete</button>
              </span>
          </tr>
      </tbody>
  </table>
</div>
