<div *ngIf="notify" class="alert alert-success container marge">
    {{ notify }}
</div>
<p class="container"></p>
<div class="banner-wthree-info container">
  <div class="row">
      <div class="col-lg-5 banner-left-info">
          <h3>The Largest Range <span>of HandBags</span></h3>
          <a href="#" class="btn shop">Shop Now</a>
      </div>

      <div class="col-lg-7 banner-img">
          <img src="https://demo.w3layouts.com/demos_new/template_demo/29-05-2019/baggage_demo_Free/379113341/web/images/bag.png" alt="part image" class="img-fluid">
      </div>
  </div>
</div>
